<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>242977884216-ffchdordp5q9tno13djs7jk2q3h6ceai.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.242977884216-ffchdordp5q9tno13djs7jk2q3h6ceai</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>242977884216-kscaic9j94o0rndjg3ka7ubgi28v0kae.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCfKwCBM6GdLcQ7H-GNBFLE9tFA-J8OBJk</string>
	<key>GCM_SENDER_ID</key>
	<string>242977884216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.whatsappclone.flutter.whatsappCloneUsingFlutter</string>
	<key>PROJECT_ID</key>
	<string>whatsappclone-6c00b</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsappclone-6c00b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:242977884216:ios:b3b92b2804ca8300db7ecd</string>
	<key>DATABASE_URL</key>
	<string>https://whatsappclone-6c00b-default-rtdb.firebaseio.com</string>
</dict>
</plist>